.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
    flex: 1; 
  }
  
  .input-group:last-child {
    margin-right: 0; 
  }
  

  .policy-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: calc(25% - 20px); 
    margin-right: 20px; 
    margin-top: 26px;
  }
  
  .policy-number-input {
    margin-bottom: 10px;
  }
  

  .add-policy-btn, .submit-btn {
    padding: 10px 20px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
    align-self: center;
  }
  
  .add-policy-btn:hover, .submit-btn:hover {
    background-color: #218838; 
  }
  

  .submit-btn-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 20px;
  }
  

  .table-container {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  

  .form-container label {
    margin-bottom: 5px;
  }
  
  .form-container input, .form-container label {
    width: auto; 
  }
  